$font: 'Ubuntu', sans-serif;


$colorCiano: #00ffff;
$radius: 1.5rem;
$profileImgWidth: 250px;
$fontSizeHeader: 2.5rem;
$colorContrast: black;
$colorHighContrast: rgb(206, 20, 20);
$colorBackground: rgb(189, 189, 189);
$colorFont: rgb(29, 29, 29);